.setUpContainer {
    width: 400px;
    height: 300px;
    background-color: #1c254f;
    margin: 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.setDisplay{
    width: 350px;
    height: 200px;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputDiv label{
    color: lightseagreen;
    font-size: 20px;
}

.errorStyle{
    cursor: not-allowed;
    background-color: red;
}